body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: bisque;
}

/* The header */
.navbar-expand-lg {
  width: 100%;
  margin: 0;
  padding: 0;
}

#navbar-brand {
  color: white;
  background-color: rgb(57, 175, 175);
  padding: 15px 25px;
  font-size: 28px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 30px;
}

.navbar-nav {
  display: inline-block;
  padding: 0;
  float: right;
}

ul li {
  font-size: 18px;
  margin-right: 20px;
  padding: 2px 10px;
  display: inline-block;
  text-align: center;
}

ul li:hover {
  background-color: rgb(57, 175, 175);
  text-decoration: underline;
  color: white;
}

/* The section */
#portfolio2 {
  background-color: white;
  margin-left: 30px;
  margin-top: 40px;
  padding: 25px;
  width: 65%;
}

#portfolio2 h1 {
  color: rgb(57, 175, 175);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.row {
  margin-top: 20px;
  margin-bottom: 20px;
}
#coll {
  position: relative;
}

.pm {
  background-color: rgb(57, 175, 175);
  position: absolute;
  bottom: 10px;
  text-align: center;
  height: 40px;
  color: white;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 5px;
  width: 88%;
}

img {
  width: 100%;
  height: 100%;
}

footer {
  /* clear: both; */
  background-color: grey;
  text-align: center;
  color: rgb(214, 211, 211);
  font-size: 20px;
  padding: 30px;
  margin-top: 29rem;
}

/* ///////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 980px) {
  .row {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  footer {
    clear: both;
    background-color: grey;
    text-align: center;
    color: rgb(214, 211, 211);
    font-size: 20px;
    padding: 30px;
    margin-top: 14rem;
  }
}

/* //////////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 768px) {
  #portfolio2 {
    width: 91%;
    margin-left: 30px;
    margin-top: 40px;
    background-color: white;
    padding: 25px;
  }

  .row {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .pm {
    background-color: rgb(57, 175, 175);
    position: absolute;
    bottom: 10px;
    text-align: center;
    height: 40px;
    color: white;
    font-size: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
    padding: 5px;
    width: 90%;
  }

  footer {
    clear: both;
    background-color: grey;
    text-align: center;
    color: rgb(214, 211, 211);
    font-size: 20px;
    padding: 30px;
    margin-top: 18rem;
  }
}
/* //////////////////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 640px) {
  #navbar-brand {
    color: white;
    width: 100%;
    background-color: rgb(57, 175, 175);
    margin: 0;
    padding: 20px;
    font-size: 30px;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
  }

  .navbar-nav {
    width: 100%;
    display: inline-block;
    text-align: center;
  }

  #portfolio2 {
    width: 90%;
    margin: 5%;
    background-color: white;
    padding: 5%;
  }
  img {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
  }
  .pm {
    background-color: rgb(57, 175, 175);
    position: absolute;
    bottom: 40px;
    text-align: center;
    height: 40px;
    color: white;
    font-size: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
    padding: 5px;
    width: 93%;
  }

  footer {
    background-color: grey;
    text-align: center;
    color: rgb(214, 211, 211);
    font-size: 20px;
    padding: 30px;
    margin-top: 12rem;
  }
}
